body{
  background-image: url(apiProjectAssets/amsterdam-architecture-building-60247.jpg);
    background-size: 100%; 
    z-index: -1;
    font-family: 'Montserrat', sans-serif;
  }

  h1{
      color:lightgray;
      text-align: center;
  }

  form{
      color:lightgrey;
  }

  .submit{
      background-color: lightgray;
      margin-left: 25px;
  }

  .maker{
      background-color: lightgray;
  }

.list{
    list-style: none;
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 1em;
}
 a{
    color:white;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 50px;
    margin-bottom: 200px;
    z-index: 1;
    text-shadow: 2px lightgray;
    line-height: 12pt;
    text-decoration: none;
 }